<html>
    <body>
        <h1>Cadastro de Carros</h1>
        <form action="/cadastro" method="POST">
            <p>
                Marca: <select name="marca">
                    <option>VW</option>
                    <option>Fiat</option>
                    <option>Ford</option>
                    <option>GM</option>
                </select>
            </p>
            <p>
                Modelo: <input type="text" name="modelo" value="" />
            </p>
            <p>
                Ano: <input type="text" name="ano" value="2019" />
            </p>
            <p>
                Modelo: <input type="submit" value="salvar" />
            </p>
            
        </form>
    </body>
</html>